<html>
	<head>
		<title>Nº Aleatorios</title>
		<link rel="icon" type="image/jpg" href="/static/pics/icono.jpg"/>
		<link rel="stylesheet" type="text/css" href="static/css/Web1Class.css" media="all"/>
		<script type="text/javascript" src="static/js/Web1JS.js"></script>
		<script type="text/javascript" src='static/js/subscription.js'></script>
		<script type="text/javascript" src='static/js/socketio.js'></script>
		<script type="text/javascript" src='static/js/connector.js'></script>
		<script type="text/javascript" src="//cdn.sendpulse.com/28edd3380a1c17cf65b137fe96516659/js/push/ab0482ec8f204a01e4196382c1bbc29e_0.js" async></script>
		<script type="text/javascript"  src='//beebotte.com/bbt.js' ></script>
	</head>
	<body>
		<table style="border: 1px solid #000000; background-color: #ffffff; text-align: right" height="50" width="100%">
		  <tr>
			<td>
				<font face="times new roman" style="margin-right:12%" size="5"><b> COMPUTACI&Oacute;N EN RED </b></font>
			<td>
			<td>
				<a target="blank" href="http://escuelapolitecnica.uah.es/"><img class="cabecera" name="uah" src="/static/pics/uah.gif" 
				onmouseout="document.uah.src='/static/pics/uah.gif'" onmouseover="document.uah.src='/static/pics/uah_sel.gif'"></img></a>
			</td>
		  </tr>
		</table>
		 
		<!-- Ultimo valor almacenado --> 
		<p align="center" font="Arial"><br>
			&Uacute;ltimo valor almacenado: <b>{{ ultVal }}</b>
		</p>
		 
		<!-- Umbral --> 
		{% if umbIN == 0 %} <!-- si no se ha introducido un umbral --> 
			<p align="center" font="Arial"><br>
				<b>Puede determinar un umbral para conocer la fecha y la hora en que se super&oacute; o se superar&aacute; el mismo</b>
			</p>
			
			<form action="/u" method="POST" name="fUmbral" onsubmit="AvisoPush()">
				<table cellspacing="15" align="center">
					<tr>
						<td>
							<input class="box" type="text" name="umbral" maxlength="5">
						</td>
						<td>
							<input class="boton" type="button" value="Umbral" onclick="validar()">
						</td>
					</tr>
					<tr>
						<td>
							<div class="roundedOne">
								<input type="checkbox" id="cbox1" name="Modo1" value="Historico" checked onclick="check1()">
								<label for="cbox1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hist&oacute;rico</label>
							</div>
						</td>
						<td>
							<div class="roundedOne">
								<input type="checkbox" id="cbox2" name="Modo2" value="Actual" onclick="check2()">  
								<label for="cbox2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actual</label>
							</div>
						</td>
					</tr>
				</table>
			</form>
		{% else %} <!-- si ya se ha introducido un umbral -->  
			{% if UmbActualOK == 1 %}
				<p align="center" font="Arial"><br>
					Se ha introducido <b>{{ val_umbral }}</b> como umbral para comprobar los valores actuales aun sin almacenar.<br>
					<b>Recibir&aacute; un aviso cuando se supere dicho umbral.</b>
				</p>
			{% else %}
				<p align="center" font="Arial"><br>
					Se ha introducido <b>{{ val_umbral }}</b> como umbral para comprobar el hist&oacute;rico de datos almacenados
				</p>
			{% endif %}
				<table cellspacing="15" align="center">
					<tr>
						<td>
							<form action="/"><input class="boton" type="submit" value="Nuevo umbral"></form>
						</td>
		   
					{% if UmbActualOK == 1 %}
					<!-- Se avisa mediante un mensaje diferente --> 
						<td>
							<input class="b2" type="submit" onclick="AvisoPush()" value="Act"/>
						</td>
						   
					{% else %}
						<script>
							bbt.unsubscribe({channel: 'BDext', resource: 'num'});
						</script>
						
					  {% if umbSup == 1 %} <!-- si se supera el umbral --> 
						<td>
							<img class="ok" src="/static/pics/ok.jpg"/>
						</td>
						<td>
							<p>Superado por ultima vez el {{ fecha }} a las {{ hora }}</p>
						</td>  
						<!-- opción de ver el historial de valores que superaron el umbral -->
						{% if historial is defined %}
						  {% if historial == 1 %}
						<td>
							<form action="/h"><input class="b2" type="submit" value="historial"></form>
						</td>	  
						  {% else %}
						<td>
							<form action="/h"><input class="boton" type="submit" value="historial"></form>
						</td>	     
						  {% endif %}
						{% endif %}
					  {% else %}
						<td>
							<img class="ok" src="/static/pics/nok.jpg"></img>
						</td>
						<td>
							<p>Umbral no superado. Pruebe de nuevo.</p>
						</td>
					  {% endif %}
					{% endif %}
					</tr>
				</table>
		  
		{% if historial is defined %}
	      {% if historial == 1 %}
		  <!-- Se muestra el historial de valores que superaron el umbral-->
			<p align="center">
				<b>Historial de los valores que superaron el umbral</b>
			</p>
			<table class="tabla" align="center">
				<tr>
					<td>
						<table class="tabla2" align="center">
							<tr><th> Numero </th></tr>
						  {% for numero in numeros %}
							<tr><td>{{ numero }}</td></tr>
						  {% endfor %}
						</table>
					</td>
					<td>
						<table class="tabla2" align="center">
							<tr><th> Fecha </th></tr>
						  {% for fecha in fechas %}
							<tr><td>{{ fecha }}</td></tr>
						  {% endfor %}
						</table>
					</td>
					<td>
						<table class="tabla2" align="center">
						<tr><th> Hora </th></tr>
					  {% for hora in horas %}
						<tr><td>{{ hora }}</td></tr>
					  {% endfor %}
						</table>
					</td>
				</tr>
			</table>
			{% endif %}
		  {% endif %}
		{% endif %}

		<!-- Media --> 
		<p align="center" font="Arial"><br>
			<b>Puede realizar la media de los valores almacenados de la BD (alternando BD interna/externa)</b>
		</p>
		<form action="/m">
			<table cellspacing="5" align="center">
				<tr>   
				{% if mean == 1 %}  
					<td>
						<input class="boton" type="submit" value="Cambio de BD">
					</td>
					<td width="13"/>
					<td>
						<p>La media es <b> {{ media }} </b></p><br>
						<p>BD utilizada -> <b> {{ BD }} </b></p>
					</td>
				{% else %}
					<td>
						<input class="boton" type="submit" value="Media">
					</td>
				{% endif %}
				</tr>
			</table>
		</form>

		<!-- Gráfica --> 
		<p align="center" font="Arial"><br>
			<b>Puede visualizar la representaci&oacute;n gr&aacute;fica de los valores almacenados en la BD externa</b>
		</p>   
		
		{% if graf == 0 %}
			<form action="/g" method="post">
				<div align="center">
					<input class="boton" name="grafica" type="submit" value="Gr&aacute;fica">
				</div>
			</form>
		{% else %} 
			<form action="/g" method="post">
				<div align="center">
					<input class="b2" name="grafica" type="submit" value="Gr&aacute;fica">
				</div>
			</form>
			
			<center><br>
				<iframe src="https://beebotte.com/dash/24bdde70-d498-11e7-bfef-6f68fef5ca14#.Wh34hEribIU" 
				style="border:none;" width="500" height="500"></iframe>
			</center>
		{% endif %}
		 
		<!-- Firma --> 
		<center><br>
			<font face="Verdana" size="1"> &copy; &Oacute;scar Gonz&aacute;lez Caballero<br>2017/18 - UAH </font>
		</center>
		
	 </body>
</html>